body {
    margin: 0px;


    
}
.container {
    background-color: rgb(218, 233, 228);
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:blue;
    background-image: linear-gradient(to right,rgb(228, 219, 219),rgb(183, 224, 232),rgb(201, 227, 101));
    text-align: center;
    height:70vh;
    
}
.container2 {
    background-color: rgb(218, 233, 228);
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:blue;
    background-image: linear-gradient(to right,rgb(216, 211, 153),rgb(138, 208, 222),rgb(208, 123, 197));
    text-align: center;
    height:70vh;
    
}

.heading {
    color:rgb(54, 46, 54);
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
    
}
input {
    text-align: center;
    padding:3px;
    border-top-right-radius: 15px;
    width:30vw;
    border-color: rgb(239, 7, 224);
   
    color:rgb(239, 7, 224);
    border-bottom-left-radius: 5px;
    font-weight: bold;
}
.btn-container{
    margin-top: 15px;
    
}
.login-btn {
    width:80px;
    height:25px;
    color:rgb(74, 17, 232);
    border-color: navy;
    background-color: beige;
    font-weight: bold;
}
.err-para{
    color:red;
    margin-top: 0px;
    
    
}
.success{
    color:rgb(231, 11, 195);
    font-size: 20px;
}